doctype html
html
  head
    block title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Harlos Music | 哈洛斯音樂")
    meta(property="og:description" content="Pop Pianist, Arranger, Composer | 流行鋼琴手、作編曲家")
    meta(property="og:image" content="https://harlos.me/images/ogimage-fb.jpg")
    meta(property="og:url" content="https://harlos.me")

    meta(name="description" content="Pop Pianist, Arranger, Composer | 流行鋼琴手、作編曲家")

    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:site" content="@Harlos_Music")
    meta(name="twitter:title" content="Harlos Music | 哈洛斯音樂")
    meta(name="twitter:description" content="Pop Pianist, Arranger, Composer | 流行鋼琴手、作編曲家")
    meta(name="twitter:image" content="https://harlos.me/images/ogimage-twitter.jpg")

    meta(name="format-detection" content="telephone=no,email=no,adress=no")

    link(rel="icon" type="image/x-icon" href="/images/favicon.png")
    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    )
    link(rel="stylesheet" href="/layout.css")
  body
    script.
      const body = document.querySelector('body');
      // set different background for different time of day
      const date = new Date();
      const hour = date.getHours();
      if (hour > 18 || hour < 6) {
        body.style.backgroundImage = 'url("/images/rune-b.jpg")';
      } else {
        body.style.backgroundImage = 'url("/images/rune-a.jpg")';
      }

      const moveBackground = () => {
        const scroll = window.scrollY;
        const maxScrollHeight = body.offsetHeight - window.innerHeight;
        const enlargePercentage = 200;
        const veritcalPercentage = (scroll / maxScrollHeight) * 100;
        body.style.backgroundSize = 'auto ' + enlargePercentage + '%';
        body.style.backgroundPosition = '50% ' + veritcalPercentage + '%';
      };

      // change background position on scroll and resize
      window.addEventListener('scroll', moveBackground);
      window.addEventListener('resize', moveBackground);
      moveBackground();
    block content

